* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 24px auto;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 376px;
  height: 208px;
  overflow: hidden;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms ease;
  display: block;
  margin: auto;
}

.gallery-image:hover {
  transform: scale(1.044);
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}

.basicLightbox__placeholder img {
  max-width: calc(100vw - 328px);
  max-height: calc(100vh - 56px);
}
